@tailwind base;
@tailwind components;
@tailwind utilities;
.react-player {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  object-fit: cover;
}
@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
